In [ ]:
import numpy as np
from pycaret.regression import *
import pandas as pd

data = pd.read_csv("vehicle-dataset-from-cardekho/car details v4.csv")

# convert data to normal
data['Price'] /= 81.28      # INR -> USD

data['Engine'] = data['Engine'].str.extract('(\d+)').astype(float)

data['Max Power (hp)'] = pd.to_numeric(data['Max Power'].str.extract(
    '(\d+\.?\d*)')[0], errors='coerce') * 1.01387  # bhp -> hp
data['Max Power (rpm)'] = pd.to_numeric(
    data['Max Power'].str.extract('@\s*(\d+)')[0], errors='coerce')

data['Max Torque (Nm)'] = pd.to_numeric(
    data['Max Torque'].str.extract('(\d+\.?\d*)')[0], errors='coerce')
data['Max Torque (rpm)'] = pd.to_numeric(
    data['Max Torque'].str.extract('@\s*(\d+)')[0], errors='coerce')

# convert owner to numeric, NaN for unknown
data['Owner'].replace('UnRegistered Car', np.nan, inplace=True)
owner_mapping = {
    'First': 1,
    'Second': 2,
    'Third': 3,
    'Fourth': 4,
    '4 or More': 5
}
data['Owner'] = data['Owner'].map(owner_mapping)

# rename columns to corect names
data.rename(
    columns={
        'Make': 'Brand',
        'Price': 'Price (USD)',
        'Kilometer': 'Mileage (km)',
        'Engine': 'Engine Capacity (cc)'
    },
    inplace=True)

# delete useless columns
data.drop(
    columns=[
        'Location',
        'Length',
        'Width',
        'Height',
        'Max Power',
        'Max Torque'
    ],
    inplace=True)

In [ ]:
data.head()

,Brand,Model,Price (USD),Year,Mileage (km),Fuel Type,Transmission,Color,Owner,Seller Type,Engine Capacity (cc),Drivetrain,Seating Capacity,Fuel Tank Capacity,Max Power (hp),Max Power (rpm),Max Torque (Nm),Max Torque (rpm)
0,Honda,Amaze 1.2 VX i-VTEC,6213.090551,2017,87150,Petrol,Manual,Grey,1.0,Corporate,1198.0,FWD,5.0,35.0,88.20669,6000.0,109.0000,4500.0
1,Maruti Suzuki,Swift DZire VDI,5536.417323,2014,75000,Diesel,Manual,White,2.0,Individual,1248.0,FWD,5.0,42.0,75.02638,4000.0,190.0000,2000.0
2,Hyundai,i10 Magna 1.2 Kappa2,2706.692913,2011,67000,Petrol,Manual,Maroon,1.0,Individual,1197.0,FWD,5.0,35.0,80.09573,6000.0,112.7619,4000.0
3,Toyota,Glanza G,9830.216535,2019,37500,Petrol,Manual,Red,1.0,Individual,1197.0,FWD,5.0,37.0,83.13734,6000.0,113.0000,4200.0
4,Toyota,Innova 2.4 VX 7 STR [2016-2020],23991.141732,2018,69000,Diesel,Manual,Grey,1.0,Individual,2393.0,RWD,7.0,55.0,150.05276,3400.0,343.0000,1400.0

In [ ]:
data.describe()

,Price (USD),Year,Mileage (km),Owner,Engine Capacity (cc),Seating Capacity,Fuel Tank Capacity,Max Power (hp),Max Power (rpm),Max Torque (Nm),Max Torque (rpm)
count,2059.000000,2059.000000,2.059000e+03,2038.000000,1979.000000,1995.000000,1946.000000,1979.000000,1975.000000,1979.000000,1979.000000
mean,20952.161620,2016.425449,5.422471e+04,1.230618,1692.575543,5.306266,52.002210,131.409489,4835.093671,245.851019,2619.545225
std,29772.153487,3.363564,5.736172e+04,0.483203,643.736294,0.822170,15.110198,65.976371,1097.368548,140.465731,1206.314770
min,602.854331,1988.000000,0.000000e+00,1.000000,624.000000,2.000000,15.000000,35.485450,2910.000000,48.000000,150.000000
25%,5967.015256,2014.000000,2.900000e+04,1.000000,1197.000000,5.000000,41.250000,84.151210,4000.000000,115.000000,1600.000000
50%,10150.098425,2017.000000,5.000000e+04,1.000000,1498.000000,5.000000,50.000000,117.608920,4200.000000,200.000000,1900.000000
75%,23683.562992,2019.000000,7.200000e+04,1.000000,1995.000000,5.000000,60.000000,173.371770,6000.000000,350.000000,4000.000000
max,430610.236220,2022.000000,2.000000e+06,5.000000,6592.000000,8.000000,105.000000,669.154200,8250.000000,780.000000,6500.000000

In [ ]:
reg = setup(data, target='Price (USD)', session_id=123, experiment_name='cars')

In [ ]:
best_model = compare_models(fold=2)

In [ ]:
models()

,Name,Reference,Turbo
ID,,,
lr,Linear Regression,sklearn.linear_model._base.LinearRegression,True
lasso,Lasso Regression,sklearn.linear_model._coordinate_descent.Lasso,True
ridge,Ridge Regression,sklearn.linear_model._ridge.Ridge,True
en,Elastic Net,sklearn.linear_model._coordinate_descent.Elast...,True
lar,Least Angle Regression,sklearn.linear_model._least_angle.Lars,True
llar,Lasso Least Angle Regression,sklearn.linear_model._least_angle.LassoLars,True
omp,Orthogonal Matching Pursuit,sklearn.linear_model._omp.OrthogonalMatchingPu...,True
br,Bayesian Ridge,sklearn.linear_model._bayes.BayesianRidge,True
ard,Automatic Relevance Determination,sklearn.linear_model._bayes.ARDRegression,False
par,Passive Aggressive Regressor,sklearn.linear_model._passive_aggressive.Passi...,True
ransac,Random Sample Consensus,sklearn.linear_model._ransac.RANSACRegressor,False
tr,TheilSen Regressor,sklearn.linear_model._theil_sen.TheilSenRegressor,False
huber,Huber Regressor,sklearn.linear_model._huber.HuberRegressor,True
kr,Kernel Ridge,sklearn.kernel_ridge.KernelRidge,False
svm,Support Vector Regression,sklearn.svm._classes.SVR,False
knn,K Neighbors Regressor,sklearn.neighbors._regression.KNeighborsRegressor,True
dt,Decision Tree Regressor,sklearn.tree._classes.DecisionTreeRegressor,True
rf,Random Forest Regressor,sklearn.ensemble._forest.RandomForestRegressor,True
et,Extra Trees Regressor,sklearn.ensemble._forest.ExtraTreesRegressor,True
ada,AdaBoost Regressor,sklearn.ensemble._weight_boosting.AdaBoostRegr...,True
gbr,Gradient Boosting Regressor,sklearn.ensemble._gb.GradientBoostingRegressor,True
mlp,MLP Regressor,sklearn.neural_network._multilayer_perceptron....,False
lightgbm,Light Gradient Boosting Machine,lightgbm.sklearn.LGBMRegressor,True
dummy,Dummy Regressor,sklearn.dummy.DummyRegressor,True

In [ ]:
knn_model = create_model('knn')

In [ ]:
tuned_knn_model = tune_model(knn_model, n_iter = 50, optimize = 'R2')

Fitting 10 folds for each of 50 candidates, totalling 500 fits

In [ ]:
evaluate_model(tuned_knn_model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin

In [ ]:
predictions = predict_model(tuned_knn_model, data=data)

In [ ]:
predictions.head()

,Brand,Model,Year,Mileage (km),Fuel Type,Transmission,Color,Owner,Seller Type,Engine Capacity (cc),Drivetrain,Seating Capacity,Fuel Tank Capacity,Max Power (hp),Max Power (rpm),Max Torque (Nm),Max Torque (rpm),Price (USD),prediction_label
0,Honda,Amaze 1.2 VX i-VTEC,2017,87150,Petrol,Manual,Grey,1.0,Corporate,1198.0,FWD,5.0,35.0,88.206688,6000.0,109.000000,4500.0,6213.090332,5797.223386
1,Maruti Suzuki,Swift DZire VDI,2014,75000,Diesel,Manual,White,2.0,Individual,1248.0,FWD,5.0,42.0,75.026382,4000.0,190.000000,2000.0,5536.417480,5536.417480
2,Hyundai,i10 Magna 1.2 Kappa2,2011,67000,Petrol,Manual,Maroon,1.0,Individual,1197.0,FWD,5.0,35.0,80.095734,6000.0,112.761902,4000.0,2706.692871,2706.692871
3,Toyota,Glanza G,2019,37500,Petrol,Manual,Red,1.0,Individual,1197.0,FWD,5.0,37.0,83.137337,6000.0,113.000000,4200.0,9830.216797,9830.216797
4,Toyota,Innova 2.4 VX 7 STR [2016-2020],2018,69000,Diesel,Manual,Grey,1.0,Individual,2393.0,RWD,7.0,55.0,150.052765,3400.0,343.000000,1400.0,23991.142578,23991.142578

In [ ]:
save_model(tuned_knn_model, model_name = 'deployment')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['Year', 'Mileage (km)', 'Owner',
                                              'Engine Capacity (cc)',
                                              'Seating Capacity',
                                              'Fuel Tank Capacity',
                                              'Max Power (hp)',
                                              'Max Power (rpm)',
                                              'Max Torque (Nm)',
                                              'Max Torque (rpm)'],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=['Brand', 'Model', 'Fuel Ty...
                                                               handle_missing='return_nan',
                                                               use_cat_names=True))),
                 ('rest_encoding',
                  TransformerWrapper(include=['Brand', 'Model'],
                                     transformer=TargetEncoder(cols=['Brand',
                                                                     'Model'],
                                                               handle_missing='return_nan'))),
                 ('clean_column_names',
                  TransformerWrapper(transformer=CleanColumnNames())),
                 ('trained_model',
                  KNeighborsRegressor(metric='manhattan', n_jobs=-1,
                                      n_neighbors=13, weights='distance'))]),
 'deployment.pkl')